<!doctype html>
<html>
    <head>
        <title>HeyAPI</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1>Welcome to the HeyAPI Homepage!</h1>
        <p>This page is a HTML page.</p>

        <!--Test JS function-->
        <div id="buttonContainer">
            <button id="myButton">Click me</button>
        </div>

        <p style="text-align: center; font-style: italic" id="message"></p>

        <!--Just some filler text-->
        <p>
            This project, <strong>HeyAPI</strong>, is a simple web server built
            with Golang. It's a learning exercise to understand the fundamentals
            of creating web applications in Go, including serving static content
            like this page and handling API requests.
        </p>
        <p>
            Feel free to explore the API endpoint! You can try accessing the
            <code>/api</code> route (e.g., using `curl
            http://localhost:8080/api`) to see a simple API response.
        </p>

        <script src="/static/script.js"></script>
        <script src="/static/random.js"></script>
    </body>
</html>
