<!doctype html>
<html>
    <head>
        <title>HeyAPI</title>
    </head>
    <body>
        <h1>Welcome to the HeyAPI Homepage!</h1>
        <p>This page is a HTML page.</p>
        <p>
            This project, <strong>HeyAPI</strong>, is a simple web server built
            with Golang. It's a learning exercise to understand the fundamentals
            of creating web applications in Go, including serving static content
            like this page and handling API requests.
        </p>
        <p>
            Feel free to explore the API endpoint! You can try accessing the
            <code>/api</code> route (e.g., using `curl
            http://localhost:8080/api`) to see a simple API response.
        </p>
    </body>
</html>
